brotli==1.1.0
ConfigParser==7.1.0
cryptography==44.0.0
Cython==3.0.11
dl==0.1.0
HTMLParser==0.0.2
importlib_metadata==8.6.1
ipaddr==2.2.0
keyring==25.6.0
langdetect==1.0.9
lockfile==0.12.2
lxml==5.3.0
Markdown==3.7
mypy_extensions==1.0.0
numpy==2.2.2
ordereddict==1.1
protobuf==5.29.3
pyOpenSSL==25.0.0
python_docx==1.1.2
pywin32==308
thread==2.0.5
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.21.0
