<?xml version="1.0" encoding="UTF-8"?>
<module id="7501" version="2024011900">
	<modulename>quiz</modulename>
	<sectionid>1474</sectionid>
	<sectionnumber>0</sectionnumber>
	<idnumber></idnumber>
	<added>1705670247</added>
	<score>0</score>
	<indent>0</indent>
	<visible>0</visible>
	<visibleold>0</visibleold>
	<groupmode>0</groupmode>
	<groupingid>0</groupingid>
	<completion>0</completion>
	<completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
	<completionview>0</completionview>
	<completionexpected>0</completionexpected>
	<availability>$@NULL@$</availability>
	<showdescription>1</showdescription>
</module>
